@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  user-select: none;
  cursor: default;
}

body {
  @apply scrollbar-track-base-200 scrollbar-thumb-primary scrollbar-thin;
}

.range-2xs {
  height: 0.5rem;
}
.range-2xs::-webkit-slider-runnable-track {
  height: 0.5rem;
}
.range-2xs::-moz-range-track {
  height: 0.5rem;
}
.range-2xs::-webkit-slider-thumb {
  height: 0.5rem;
  width: 0.5rem;
  --filler-offset: 0.4rem;
}
.range-2xs::-moz-range-thumb {
  height: 0.5rem;
  width: 0.5rem;
  --filler-offset: 0.2rem;
}
